<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>SSW</title>
    <script src="/socket.io/socket.io.js"></script>

    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" data-app="26fab62f-bbd9-4930-b4d2-cf8de009f28b" type="text/javascript" src="bootstrap.js"></script>

</head>
<body></body>
</html>
